extends layout

block content  
  script(type='text/javascript').
    $(document).ready(function(){
      $("#notice").addClass('active');
    });
  div.collection
    each file, i in list
      if i <= numberOfRowsInPage
        div.collection-item
          row
            span.col.chip.s4
              img(src=(i % 2 == 0) ? "images/user_male-128.png" : "images/user_male3-128.png") 
              | #{file.Author}
            span.col.s4
            span.pdh8 #{file.CreatedAt}
            span.col.s12
              a(href='/notice?where=' + "#{file.Idx}", target='_self') #{file.Title}
    else
      a(href="#") 공지가 없습니다.
  ul.pagination.align_center
    - for (var i = 1; i <= numberOfPages; i++) {    
      if i == page
        li.active
          a(href='/index?page=' + i)#siis_color #{i}
      else
        li
          a(href='/index?page=' + i) #{i}
    - }
  a.siis.btn(href='/write') 글쓰기
    i.material-icons.left mode_edit