extends layout

block content
  include navbar
  script(type='text/javascript').
    $(document).ready(function(){
      $("#notice").addClass('active');
    });
  div.collection
    each file, i in list
      if i <= numberOfRowsInPage
        div.collection-item
          row
            span.col.chip.s4
              img(src=(i % 2 == 0) ? "images/user_male-128.png" : "images/user_male3-128.png") 
              | #{file.Author}
            span.col.s4
            |  #{file.Date} 
            span.col.s12
              a(href='/notice?where=' + "#{file.Index}", target='_self') #{file.Title}
    else
      a(href="#") 공지가 없습니다.
  ul.pagination.align_center
    - for (var i = 1; i <= numberOfPages; i++) {    
      if i == page
        li.active
          a(href='/?page=' + i)#siis_color #{i}
      else
        li
          a(href='/?page=' + i) #{i}
    - }
  a.waves-effect.waves-light.btn.siis_color(href='/write') 글쓰기
    i.material-icons.left mode_edit