extends layout

block content
  table.striped.highlight.pd8
    thead
      tr
        th(data-field="date") 거래일시
        th(data-field="contents") 기재내용
        th(data-field="withdrawalAmount") 찾으신금액(원)
        th(data-field="depositedAmount") 맡기신금액(원)
        th(data-field="balance") 거래후잔액(원)
    tbody
      each trade in list
        tr
          td #{trade.TransactionTime}
          td #{trade.Description}
          td #{trade.WithdrawalAmount}
          td #{trade.DepositedAmount}
          td #{trade.Balance}
//div.video-container
  iframe(width="853", heigth="480", src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0", frameborder="0", allowfullscreen)